.arrow-right, .arrow-left {
    width: 40px;
}

.arrow-down, .arrow-up {
    height: 40px;
}

.arrow-down {
    transform: rotate(180deg);
}

.hero .arrow-down,
.customers-header .arrow-down {
    margin-top: 20px;
    transform: translateY(-50%) rotate(180deg);
    opacity: 0;
    animation: arrow-down-animation 3s infinite;
    @media(min-width: 360px) {
        margin-top: 40px;
    }
}

.hero .arrow-down {
    animation-delay: 5.2s;
}

.customers-header .arrow-down {
    animation-delay: 4.8s;
}