// .cursor {
//     position: fixed;
//     height: 14px;
//     width: 14px;
//     transform: translate(-50%, -50%);
//     pointer-events: none;
//     padding: 14px;
//     border: 2px solid #000;
//     transition: all .2s ease-out;
//     border-radius: 100%;
//     z-index: 12;
// }

// .cursor.cursor--on-focus {
//     // transform: translate(-7px, -7px);
//     border: 2px solid #000;
//     border-radius: 0%;
//     padding: 7px;
// }

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    mix-blend-mode: difference;
    // transform: translate(0, 2px);
    transform: translate(-50%, -50%);
    // transition: transform .1s linear;
    // transition: all .02s linear;
}

.cursor.cursor--on-focus {
    border-radius: 0%;
    // transform: scale(2);


}