@import './variables.scss';

.page {
    position: relative;
}

.hero .title,
.hero .text,
.parallax .subtitle,
.parallax .text {
    @media(min-width: 600px) {
        width: 80%;
    }
    @media(min-width: 768px) {
        width: 70%;
    }
    @media(min-width: 1024px) {
        width: 50%;
    }
}

.hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.parallax {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 830px) and (orientation: landscape) {
    .hero, .parallax {
        min-height: 140vh;
    }
}

.parallax2 {
    background-color: rgba(255, 255, 255, 0.65);
}

.parallax3 {
    background-color: rgba(255, 255, 255, 0.5);
}

.hero__title {
    margin-top: 40px;
    transform: translateY(50%);
    // transform-origin: bottom;
    opacity: 0;
    animation: text-animation 1s ease-out forwards;
    animation-delay: 4.4s;
    @media(min-width: 600px) {
        margin-top: 80px;
    }
}

.hero__text {
    transform: translateY(100%);
    // transform-origin: bottom;
    opacity: 0;
    animation: text-animation 1s ease-out forwards;
    animation-delay: 4.8s;
}

// @keyframes hero-text-animation {
//     0% {
//         transform: translateY(50%) scaleY(0);
//         opacity: 0;
//     }
//     40% {
//         opacity: 0;
//     }
//     100% {
//         transform: translateY(0) scaleY(1);
//         opacity: 1;
//     }
// }

// Ilustrations

// .ilustration1 {
//     position: absolute;
//     width: 60px;
//     top: 105vh;
//     left: 0;
//     transform: translateX(-40%);
//     @media (max-width: 830px) and (orientation: landscape) {
//         top: 145vh;
//     }
//     @media(min-width:360px) {
//         width: 80px;
//     }
//     @media(min-width:600px) {
//         width: 120px;
//     }
//     @media(min-width:1024px) {
//         width: 160px;
//         top: 108vh;
//     }
// }

// .ilustration2 {
//     position: absolute;
//     width: 40px;
//     top: 200vh;
//     right: 0;
//     transform: translate(2%, -50%);
//     @media (max-width: 830px) and (orientation: landscape) {
//         top: 280vh;
//     }
//     @media(min-width:360px) {
//         width: 60px;
//     }
//     @media(min-width:600px) {
//         width: 80px;
//     }
//     @media(min-width:1024px) {
//         width: 110px;
//     }
// }

// .ilustration3 {
//     position: absolute;
//     width: 40px;
//     top: 300vh;
//     left: 0;
//     transform: translate(0, -50%);
//     @media (max-width: 830px) and (orientation: landscape) {
//         top: 420vh;
//     }
//     @media(min-width:360px) {
//         width: 60px;
//     }
//     @media(min-width:600px) {
//         width: 80px;
//     }
//     @media(min-width:1024px) {
//         width: 110px;
//     }
// }

// .ilustration4 {
//     position: absolute;
//     width: 60px;
//     bottom: 10vh;
//     right: 0;
//     transform: translateX(40%);
//     @media(min-width:360px) {
//         width: 80px;
//     }
//     @media(min-width:600px) {
//         width: 120px;
//     }
//     @media(min-width:1024px) {
//         width: 160px;
//     }
// }