@import './variables.scss';

.hero .title,
.hero .text,
.parallax .subtitle,
.parallax .text {
    @media(min-width: 600px) {
        width: 80%;
    }
    @media(min-width: 768px) {
        width: 70%;
    }
    @media(min-width: 1024px) {
        width: 50%;
    }
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.parallax {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 830px) and (orientation: landscape) {
    .hero, .parallax {
        min-height: 140vh;
    }
}

.parallax2 {
    background-color: rgba(255, 255, 255, 0.5);
}

.parallax3 {
    background-color: rgba(255, 255, 255, 0.6);
}

.hero__title {
    margin-top: 40px;
    transform: translateY(50%);
    transform-origin: bottom;
    opacity: 0;
    animation: hero-title-animation .4s forwards;
    animation-delay: 4.4s;
    @media(min-width: 600px) {
        margin-top: 80px;
    }
}

.hero__text {
    transform: translateY(50%);
    transform-origin: bottom;
    opacity: 0;
    animation: hero-text-animation .4s forwards;
    animation-delay: 4.8s;
}

@keyframes hero-title-animation {
    0% {
        transform: translateY(50%) scaleY(0);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}

@keyframes hero-text-animation {
    0% {
        transform: translateY(50%) scaleY(0);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}