@import './variables.scss';

.offer-page {
    padding: 10vh 0 10vh 0;
    margin: 0 auto;
    max-width: 1280px;
    @media (min-width: 1024px) {
        padding: 0;
    }
}

.offer {
    min-height: 100vh;
    padding: 10vh 10px 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(min-width: 768px) {
        padding: 10vh 0px 10vh;
    }
    @media(min-width: 1024px) {
        flex-direction: row;
    }
}

.offer__wrapper {
    @media(min-width: 1024px) {
        width: 50%;
    }
}

.offer__wrapper .subtitle, .offer__wrapper .text {
    margin: 20px auto;
    width: 90%;
    @media(min-width: 600px) {
        width: 80%;
    }
    @media(min-width: 768px) {
        width: 70%;
    }
    @media(min-width: 1024px) {
        width: 80%;
        margin: 20px 50px;
        text-align: justify;
    }
}
.offer__wrapper .text {
    margin-top: 26px;
}

.subtitleWD {
    transform: translateY(100%);
    opacity: 0;
    animation: text-animation 1s ease-out forwards;
    animation-delay: 3.8s;
}
.textWD {
    transform: translateY(100%);
    opacity: 0;
    animation: text-animation 1s ease-out forwards;
    animation-delay: 4.2s;
}